.flyoutContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex 1;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 12px;
  background-color: rgb(63, 63, 63);
  -webkit-box-shadow: 0px 0px 32px -1px rgba(146, 146, 146, 1);
  -moz-box-shadow: 0px 0px 32px -1px rgba(146, 146, 146, 1);
  box-shadow: 0px 0px 32px -1px rgba(146, 146, 146, 1);
  padding: 20px;
  width: max-content;
  margin: 20px;
  scale: 1;
  transition: 0.2s ease-in-out;
  z-index: 1000;
}

.flyoutContent {
  flex: 1;
}

.closeButton {
  background: none;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}
